# convert an integer to a floating- point number.

In [1]:
num_int = 42
float_num = float(num_int)
print(float_num)

42.0

In [2]:
num_int = 56
float_num = float(num_int)
print(float_num)

56.0

#convert a float to an integer.

In [4]:
float_num = 236.122
num_int = int(float_num)
print(num_int)

236

In [6]:
float_num = 25.56
num_int = int(float_num)
print(num_int)

25

#convert an integer to a string.

In [10]:
num_int = 45
num_str = str(num_int)
print(num_str)

45

In [12]:
type(num_str)

str

In [13]:
num_int = 56
num_str = str(num_int)
print(num_str)

56

In [15]:
type(num_str)

str

#conver a list to a tuple.

In [1]:
value = (10, 20, 30, 40, 50)
my_tuple = list(value)
print(my_tuple)

[10, 20, 30, 40, 50]

In [2]:
type(value)

tuple

In [3]:
a = (1, 2, 3, 4)
num_tuple = list(a)
print(num_tuple)

[1, 2, 3, 4]

In [4]:
type(a)

tuple

#conver a tuple to a list.

In [3]:
b = (10, 20, 30, 40, 50)
my_tuple = list(b)
print(b)

(10, 20, 30, 40, 50)

In [4]:
type(my_tuple)

list

In [5]:
x = (122, 322, 333, 444)
my_tuple = list(x)
print(my_tuple)

[122, 322, 333, 444]

In [6]:
type(my_tuple)

list

# convert a decimal number to binary.

In [8]:
bin(5)

'0b101'

In [9]:
bin(95)

'0b1011111'

#convert a non zero number to boolean

In [10]:
int_num = 0
bool_num = bool(int_num)
print(bool_num)

False

In [11]:
a = 2
bool_num = bool(a)
print(bool_num)

True

In [12]:
c = 23
bool_num = bool(c)
print(bool_num)

True